apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namePrefix: #appName#-
commonLabels:
  app: #appName#

bases:
- ../base

patchesStrategicMerge:
- ./deployment.yaml

resources:
- ./ingress.yaml

images:
- name: service
  newName: #appContainerImage#
  newTag: #appContainerTag#
